body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Guitar.jpg');
    background-size: cover;
    opacity: 75%; 
    display: grid;
    grid-template-areas: 
        "left right-top"
        "left right-bottom"
        "footer footer"; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr auto; 
    height: 100vh;
}

.box {
    padding: 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.7); 
    display: center;
    justify-content: center;
    align-items: center;

}

.left {
    grid-area: left;
    background-color: rgb(50, 147, 169); 
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
}

.right {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 20px;
    margin-right: 10px;
}

.top {
    grid-area: right-top; 
    background-color: rgb(184, 169, 2); 
    padding: 20px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -45px;
}

.bottom {
    grid-area: right-bottom; 
    background-color: rgb(154, 28, 0); 
    padding: 20px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.footer {
    grid-area: footer; 
    background-color: rgb(3, 67, 14); 
    padding: 20px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 153, 0);
}

.footer-bar {
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-bar p {
    margin: 0;
    font-size: 14px;
}